[Unit]
Description=HTPC actions for the NVIDIA Shield remote

[Service]
ExecStart=/usr/libexec/htpc-shield-remote-macros
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
